[2020-04-21 04:30] cmdavinder opened #6 "DNS Over HTTPS pop in recording"
Hi there,

All recorded meetings seem to have "DNS over HTTPs" warning. Is it just me or it is a known issues? See below screenshot

<img width="396" alt="Screen Shot 2020-04-21 at 12 28 24 AM" src="https://user-images.githubusercontent.com/22786637/79825516-31499f00-8367-11ea-8bfe-3b8c55a12ddb.png">

[2020-04-21 05:17] gentrobot opened #7 "No POST method recording"
Followed the steps mentioned in the readme. API Gateway has no POST method for "recording" and hence cannot start or stop recording from Postman

[2020-04-21 06:05] #7 closed

[2020-04-21 07:38] peternijssen commented on #6
We are having the same problem on our end.

Just very recent, I've found a potential solution, but haven't been able to try it.
add:
[code]

to the following lines:
https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/recording/run.sh#L41

This is based on the following lines within the code of Mozilla:
[code]
@ https://hg.mozilla.org/releases/mozilla-release/file/tip/browser

[2020-04-21 12:21] Joypaul11 opened #8 "Unable to pass input screen during recording."
Followed all steps, but the recording bot is stuck in the input screen

![image](https://user-images.githubusercontent.com/15178510/79865238-7964d200-83f8-11ea-8399-0f1c20d4213b.png)

Is it not possible for the bot to directly go to the meeting screen ?

[2020-04-22 00:44] cmdavinder opened #9 "Enable CORS"
API created from provided template - /recording doesn't allow CORS. Since the use case is to enable recording from user browser, it would be great to enable CORS as a part of API setup.

[2020-04-22 03:26] cmdavinder commented on #6
Your suggestion works! @peternijssen

[2020-04-22 03:26] cmdavinder commented on #8
Having same problem.

[2020-04-22 03:43] cmdavinder commented on #8
by the way, I got things working earlier when I had the setup in us-east-1. However, the bot is unable to get past the login page when I ran did the setup in us-east-2.

[2020-04-23 10:00] lzblue opened #12 "Failed to create/update the stack"
Command sam failed with exit code 1 signal null
Error: Failed to create/update the stack: demoxyzstack2, Waiter StackCreateComplete failed: Waiter encountered a terminal failure state

Any advice?

[2020-04-23 10:56] lzblue commented on #12
Found the cause due to line 79 of templates/RecordingDemoCloudformationTemplate.yaml

The result id become longer than the 63 characters limit.

[2020-04-24 01:41] lzblue commented on #8
Hi, I realized you need to use v2 to make this work:

<demo url>/Prod/**v2**?m=<meeting number>

[2020-05-11 15:12] shijinbharati opened #13 "tag key cannot be updated by your account"
node ./deploy.js -b <my-bucket> -s <my-stack> -i <my-docker-image-uri> -r <region>
command failed with the following exception

[code]
The IAM user has permission attached to the image.
![lpS0r](https://user-images.githubusercontent.com/3006777/81578009-e05a2300-93c7-11ea-8a48-65592ba0bd5e.png)
What changes need to make to fix the issue?

[2020-05-14 08:43] koni-a opened #14 "Where Should i get Meeting URL?"
Hi Team,

Where should I get a meeting URL, to pass when the recording starts.

Below are the parameters we are getting when the meeting created

	public class Meeting
    {
        public Meeting();
        public MediaPlacement MediaPlacement { get; set; }
        public string MediaRegion { get; set; }
        public string MeetingId { get; set; }
    }

	public class MediaPlacement
    {

[2020-05-20 11:16] nilaydave38 commented on #8
I had same issue even audio also not recorded.

Anyone facing an audio recording issue as well?

[2020-05-20 11:18] nilaydave38 commented on #6
I had the same issue even audio also not recorded.

Anyone facing an audio recording issue as well?

[2020-05-20 11:29] nilaydave38 opened #15 "Audio/Video Not recorded"
Hello Developer Team,

I had followed the same steps but was not able to record a video or audio.

Here is the sample mp4 file which is recorded the meeting.
[2020-05-20T09_32_26.zip](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/files/4656467/2020-05-20T09_32_26.zip)

We had shared the screen from the browser and also connected to audio devices but neither video nor audio was rec

[2020-05-22 18:17] davidilieberman commented on #13
Having the same issue. Any luck?

[2020-05-24 07:12] shijinbharati commented on #13
No, I  was stuck.

[2020-05-28 19:15] davidilieberman commented on #13
I got it partially working in us-east-1. I think in m case this may have been caused by a few different users in the same account trying to do the tutorial at the same time. I've been able to complete the setup work and start meetings, but no recordings appear in the output bucket, even after a few hours time after the recording is stopped.

[2020-05-28 19:18] davidilieberman opened #16 "Recording bot never joins meeting"
After several attempts, I was able to complete the setup and start a meeting, using Postman to start and stop the recording process as recommended. I have now run the demo a few times and what I've realized is the recording bot is never joining the meeting, although I do receive a 200 response from the API Post with recordingAction=start. I've tried using both versions of the meeting URL generated

[2020-05-28 23:26] anuranduttaroy commented on #14
The URL should be of the app that is developed using the [amazon-chime-sdk-js](https://github.com/aws/amazon-chime-sdk-js).

For example, if you deploy the [serverless demo app](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless) by following the instructions given in the [README](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless#run-deployment-script), y

[2020-05-28 23:30] anuranduttaroy commented on #6
This should be fixed with the [PR#10](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/pull/10)

[2020-05-28 23:30] #6 closed

[2020-05-29 10:05] shijinbharati commented on #13
I was tried eu-west-2 , but not working

[2020-05-29 10:05] shijinbharati commented on #13
I was tried eu-west-2 , but not working

[2020-06-01 22:17] aburnson commented on #9
While CORS could be enabled for the `/recording` endpoint, normally this endpoint would be called from the server application rather than directly from a client. The client application should make a request to the server application to begin recording (server can then verify if the client is authorized to do that) and the server application would then make the call to `POST /recording` on the reco

[2020-06-01 22:17] #9 closed

[2020-06-01 22:30] aburnson commented on #14
Yes, since this demo records the entire web application, it needs to know the URL of the page to load when recording. This is admittedly a little unclear from the README. Labeling as documentation, so we can make that more clear.

[2020-06-01 22:50] aburnson commented on #15
From the attached recording, looks like a duplicate of #8 where the Firefox "doorhanger" notification for their new encrypted DNS feature is getting in the way of the meeting starting. Going to close this issue as a duplicate of that.

We don't currently have a demo for that use case specifically, but speaking in general terms you would have:

1. A server-side meeting application - this would auth

[2020-06-01 22:50] #15 closed

[2020-06-02 19:07] comet-hale commented on #13
Same issue..
[code]

[2020-06-04 07:25] nagydniel commented on #16
Can you attach the logs from the ECS task?

On the ECS Clusters page, Select your cluster, click on Tasks, you will see one task running, click on its ID, and click on logs.

[2020-06-11 18:13] bvsubhash commented on #16
Hi @nagydniel
My Chime meeting URL is as follows: https://chime.aws/<meetingID>
I tried this project today and the recording mp4 file was created successfully in S3 as well. Interestingly, this is what I observed after looking into the recorded video.

<img width="1678" alt="Chime bot recording" src="https://user-images.githubusercontent.com/8126926/84423713-85bd1c80-ac3c-11ea-9549-852ce389182a.pn

[2020-06-11 20:23] bvsubhash commented on #16
Few minutes back, I realised that we have to provide the SDK Application URL as input instead of Chime meeting url and also that we have to pass the meeting name as query parameter in SDK Application URL. Hence, issued a PR to update README with example meetingURL.

[2020-06-12 01:52] lawrencepit opened #21 "Instructions in README to deploy the serverless demo app"
The instructions in the README failed at this step:

[code]

Output:

[code]

The following does work:

[code]

[2020-06-17 00:29] mrgrue commented on #21
I solved this by:

pushd ~/environment/amazon-chime-sdk-js
npm install fs-extra
popd

And then re-running the deploy.

[2020-06-17 00:33] mrgrue opened #22 "Recording is of a screen with "Missing Authentication Token""
After following all the instructions, the recording was not of the full web page (as described in the instructions). Instead, the movie was of a recording of a web console. I'm attaching a screenshot:

![recorded-movie-screenshot](https://user-images.githubusercontent.com/3343244/84841486-aea82d80-afff-11ea-92c2-279a38b2aaec.png)

Where do I get the token it's referring to, and where do I put it?

[2020-06-17 17:08] #14 closed

[2020-06-18 16:05] anuranduttaroy commented on #16
We updated the documentation with PR https://github.com/aws-samples/amazon-chime-sdk-recording-demo/pull/23 to indicate how the meeting URL should look like in [Start an Amazon Chime SDK meeting with our serverless demo and join with multiple participants](https://github.com/aws-samples/amazon-chime-sdk-recording-demo#start-an-amazon-chime-sdk-meeting-with-our-serverless-demo-and-join-with-multipl

[2020-06-18 16:11] #8 closed

[2020-06-18 16:20] anuranduttaroy commented on #22
Can you give us the exact steps to reproduce the issue?

[2020-06-22 23:07] anuranduttaroy commented on #21
Updated README to add `npm install` command before deploying the [serverless demo](https://github.com/aws/amazon-chime-sdk-js/tree/master/demos/serverless).

[2020-06-22 23:07] #21 closed

[2020-06-25 00:01] #16 closed

[2020-06-25 21:24] davidilieberman commented on #22
I have had the same experience, following the README recipe carefully, multiple times. ECS log setting up the firefox recording agent is attached. During the meeting, the users get no active indication that the recording agent has joined the meeting, and the resulting file is identical to the screenshot provided by @mrgrue . The only indication of an issue in the log is at line 37 in the attached

[2020-06-26 16:47] haofiltered commented on #12
@lzblue
I encountered the exact same issue when I trying to run `node ./deploy.js -b <my-bucket> -s <my-stack> -i <my-docker-image-uri> -r <region>`.
Can you explain more how to bypass this? Thanks a lot!

[2020-06-26 21:14] haofiltered commented on #12
I got this work by adding api gateway policy to my account. Was missing some of the AWS services permission for my account.

[2020-07-06 18:00] OliverwengFiltered opened #27 "firefox crash when audio plays"
Hi aws chime recording support.

I'm experiencing an issue when passing a url like a youtube video link, as soon as the audio starts to playing I get firefox crash screen.

wondering if you guys have any insight around that ?

I'm creating a localhost service based on your recording mechanism.

Thanks
-Oliver

[2020-07-06 18:28] aburnson commented on #27
Try to see if you can find and capture the Crash Report out of the `/tmp/foo4` [profile directory](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/71fdc7cc0f118d8ca89b765ac8531123137fe241/recording/run.sh#L28) to see what may be causing the tab crash. Given that it occurs when you try to play a video, it's possible that there is a codec setting that may need to be either enable

[2020-07-06 20:18] OliverwengFiltered commented on #27
found the crash report but it's not encoded with utf-8 strings. the file name is `/tmp/recorder/crashes/store.json.mozlz4`
I changed the user name from foo4 to recorder in run.sh file, that's why it's under /tmp/recorder.

based on my observation, it's fine when playing a video muted, but when playing a video unmuted, it will crash consistently. assuming it's audio encoding issue ?

weird that if

[2020-07-06 20:30] aburnson commented on #27
Thanks @OliverwengFiltered. Would it be possible to retrieve the crash report file and attach to this issue? From the extension, it looks to be encoded in a Mozilla-specific `mozlz4` encoding, but there are publicly available tools for decompressing files in this encoding.

[2020-07-06 21:18] OliverwengFiltered commented on #27
here is the decoded crash report json:
https://ucarecdn.com/a1299250-af83-42ae-aa2c-8f2d0b31f0b5/search_extracted.json

[2020-07-07 00:27] aburnson commented on #27
Based on that crash report, it appears the main thread in Firefox is crashing, potentially when it tries to [load OpenH264](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/recording/run.sh#L44) for playing the video. We will try to reproduce this and see what can be done about this.

[2020-07-07 01:33] OliverwengFiltered commented on #27
Hi @aburnson ,

thank you for the support.

and not sure if it helps to reproduce but here is what I have done to reproduce it on my local consistently.
1. get recording folder and Dockerfile from master branch.
3. use `docker image build` to build local image.
4. use docker run to run the image and attach to shell command.
5.  in shell command run run.sh like this: `./run.sh https://www.youtube.c

[2020-07-07 14:19] rohit0337 opened #28 "Stack Formation error"
hello

while i am using deploy command from aws cli  my stack formation is showing me error and i am not able to get api for video recording

[2020-07-07 16:21] aburnson commented on #27
Thanks for the repro steps, @OliverwengFiltered. That is helpful.

[2020-07-07 20:04] aburnson commented on #28
@rohit0337, could you provide a little bit more information on what you tried and what error you are receiving?

[2020-07-08 04:01] rohit0337 commented on #28
hello

node ./deploy.js -b <my-bucket> -s <my-stack> -i <my-docker-image-uri> -r <region>
while i am running this command on my cloud formation i am getting this error
 on cli i get this error:
Command sam failed with exit code 1 signal null
Error: Failed to create/update the stack: record-stack, Waiter StackCreateComplete failed: Waiter encountered a terminal failure state
 and cloud formation st

[2020-07-08 23:12] anuranduttaroy commented on #22
Recording seems to be working fine since the there was a video.

The issue seems to be with the meeting URL you are passing to the recording function.

As written in this section of the readme: [Start an Amazon Chime SDK meeting with our serverless demo and join with multiple participants](https://github.com/aws-samples/amazon-chime-sdk-recording-demo#start-an-amazon-chime-sdk-meeting-with-our-ser

[2020-07-08 23:15] anuranduttaroy commented on #22
@davidilieberman this post (https://askubuntu.com/questions/1005623/libdbusmenu-glib-warning-unable-to-get-session-bus-failed-to-execute-child) seems to be similar to the error in the log you shared.

Try adding `dbus-x11` at the end of this line https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/Dockerfile#L13 and see if that helps. It should look something like this.

[co

[2020-07-08 23:15] #22 closed

[2020-07-08 23:39] anuranduttaroy commented on #28
Seems like the s3 bucket name is longer than 63 characters. This pull request https://github.com/aws-samples/amazon-chime-sdk-recording-demo/pull/24 should have fixed the long bucket name issue.

Can you log into the [cloudformation console](https://console.aws.amazon.com/cloudformation/home) and search for your stack name and post the exact error messages you see there and for which resources.

[2020-07-08 23:44] anuranduttaroy commented on #13
This seems like a could9 issue. I tried to create a cloud9 instance in `eu-west-2` and tried to deploy the recording application and it worked fine for me. Make sure your cloud9 environment is also in the same region where you are trying to deploy the recording app.

Also, can you try logging into your AWS account with **AdministratorAccess** policy and see if you get the same error?

[2020-07-09 00:49] OliverwengFiltered commented on #27
Hi @aburnson

Wondering if there is any updates about this one ?

Thanks.
-Oliver

[2020-07-13 08:24] rohit0337 commented on #28
the bucket name i am using its not long or short
and the issue from my cloudformation stack i already uploade on the previous comment
please check and help

[2020-07-16 16:21] anuranduttaroy commented on #13
@shijinbharati let us know if the issue still persists.

[2020-07-16 16:21] #13 closed

[2020-07-16 17:01] shijinbharati commented on #13
@anuranduttaroy   Due to that issue, we are not developing that application. I will try the suggestions, Thank you

[2020-07-22 04:27] rohit0337 opened #30 "stop recording api is not returning recorded video name or url"
hello
when i call stop recording api its returns me json data but in this json data there no details of recorded video stored path.
how to achieve it.

[2020-07-24 00:48] anuranduttaroy commented on #30
@rohit0337 You can find the recording in an S3 bucket named `chime-meeting-sdk-<aws-account-id>-<region>-recordings`. E.g. `chime-meeting-sdk-1234567890-us-east-1-recordings`

This is pointed out in the README section [**Stop the recording and view the recording artifact**](https://github.com/aws-samples/amazon-chime-sdk-recording-demo#stop-the-recording-and-view-the-recording-artifact) *point num

[2020-07-24 00:48] #30 closed

[2020-07-24 07:02] ankit-maheshwari commented on #30
Hi @anuranduttaroy we are implementing the recording feature and wants the saved recording location/ name to save against the meeting in our own database. Hence the meeting attendees can access the recording from our portal.

[2020-07-24 07:26] rohit0337 opened #31 "stack formation Creating multiple instance for video recording but not terminating after stop video recording"
hello
i use chime sdk java script and build an solution, for video recording now i am using your chime video recording sdk and passing my server's meeting url. whenever i start a video recording its create a instance due to auto scaling, if at a time there is two meetings going on there is two ec2 instance. but after stopping video recording instance is there autoscaling not terminating it or stop

[2020-07-24 07:31] rohit0337 opened #32 "one instance only able to record one meeting"
hello
i use chime sdk java script and build an solution, for video recording now i am using your chime video recording sdk and passing my server's meeting url. whenever i start a video recording recording start but when i am recording more meeting than max ec2 instance limit for auto scaling . then its gives error

 "tasks": [],
 "failures": [
  {
   "arn": "arn:aws:ecs:ap-southeast-1:131006341016

[2020-07-26 19:03] anuranduttaroy commented on #32
You are seeing this error because while calling [`ecs.runTaask()` API from the Lambda function](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/src/index.js#L112-L114), we set a placement constraint for running 1 recording in 1 instance.

[code]

If you want to run multiple recordings in a single instance, you can remove that `placementConstraints ` property from the [`e

[2020-07-26 19:03] #32 closed

[2020-07-26 19:34] anuranduttaroy commented on #31
Hey @rohit0337, you might be seeing 2 instances in your ASG because the desired capacity is set to 2 here in the cloudformation script: https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/templates/RecordingDemoCloudformationTemplate.yaml#L38-L40. You can try changing this [configuration of the Autoscaling group](https://github.com/aws-samples/amazon-chime-sdk-recording-demo

[2020-07-26 19:34] #31 closed

[2020-07-27 04:45] rohit0337 commented on #30
hi @anuranduttaroy   we are implementing the recording feature and wants the saved recording location/ name to save against the meeting in our own database. Hence the meeting attendees can access the recording from our portal.
so how can we achieve recording video path in the stop recording api response

[2020-07-27 04:46] rohit0337 opened #33 "@rohit0337 You can find the recording in an S3 bucket named `chime-meeting-sdk-<aws-account-id>-<region>-recordings`. E.g. `chime-meeting-sdk-1234567890-us-east-1-recordings`"
@rohit0337 You can find the recording in an S3 bucket named `chime-meeting-sdk-<aws-account-id>-<region>-recordings`. E.g. `chime-meeting-sdk-1234567890-us-east-1-recordings`

This is pointed out in the README section [**Stop the recording and view the recording artifact**](https://github.com/aws-samples/amazon-chime-sdk-recording-demo#stop-the-recording-and-view-the-recording-artifact) *point num

[2020-07-27 04:48] rohit0337 commented on #33
hi
we are implementing the recording feature and wants the saved recording location/ name to save against the meeting in our own database. Hence the meeting attendees can access the recording from our portal.
so how can we achieve recorded video s3 name and path in the response of "stop recording api"

[2020-07-28 00:57] anuranduttaroy commented on #33
Here are the steps we are following related to storing the meeting recording.
1. We are creating the `Recording Artifacts S3 Bucket` here : https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/templates/RecordingDemoCloudformationTemplate.yaml#L74-L79.
2. Passing this bucket name as an environment variable to the lambda function here: https://github.com/aws-samples/amazon-chi

[2020-07-28 00:57] #33 closed

[2020-07-28 18:44] anuranduttaroy commented on #28
You said `Bucket name should be between 3 and 63 characters long`.

If it's the [RecordingArtifactsUploadBucket](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/templates/RecordingDemoCloudformationTemplate.yaml#L74), we use the naming pattern `chime-meeting-sdk-<aws-account-id>-<region>-recordings`. With the PR https://github.com/aws-samples/amazon-chime-sdk-recording-d

[2020-08-04 11:53] rohit0337 commented on #33
hello @anuranduttaroy  where i find these run.sh and record.js in aws console . i know these files are avialable in recording demo of git, but in aws lamda function i am only able to see index.js file

[2020-08-11 22:07] kjohnstonadept opened #35 "Where is modified demo index.html?"
Where is the modified client that suppresses the prompts? The meeting app in the sdk demos still seems to have the prompts.

[2020-08-11 22:15] kjohnstonadept commented on #35
Ah I see now - it is meetingV2.

[2020-08-11 22:15] #35 closed

[2020-08-13 11:53] krokhale opened #36 "Recording overview"
- Have looked through all the docs.
- I have also deployed the stack/ecr etc according to the docs.
- Deployed the server less demo as well.

From what I understand, the recording code is basically a hack/bot that NEEDS to know the public URL of meeting that is taking place. The Bot then visits the page as an attendee and records the page.

What if the meeting is behind a user name password authen

[2020-08-19 13:09] pranjal-goswami opened #37 "Getting Firefox popup in meeting recording"
![image](https://user-images.githubusercontent.com/1142904/90638589-24708580-e24b-11ea-8bb4-b4c58ae525fd.png)

Is there a way to fix that?

[2020-08-25 10:27] colohr opened #38 "Audio/video out of sync"
Recording results in video/audio out of sync.  This does not happen when actively connected via the web app.

Ive noticed several times the audio (up to a min) is missing from the beginning of the video.

Any info/direction appreciated.

[2020-09-01 21:36] Aeramor commented on #37
Yes, you can fix this by changing some settings in the firefox profile.
Change the code in the run.sh to include this bit here
Here you go!
[code]

[2020-09-01 21:37] Aeramor commented on #36
It is possible; I've got it working on private server with authenticated meeting. (It does require a lot of work though)

[2020-09-01 21:39] Aeramor commented on #38
In record.js there is a bit where it attempts to sync the audio/video. After some testing I ended up with `'adelay=delays=250|250',` which works pretty well (the default is 1000|1000).

[2020-09-05 12:17] Anvit26 commented on #28
You might have same cloud formation stack with the same name which is throwing error.

[2020-09-05 20:14] pranjal-goswami commented on #37
@Aeramor This worked.
Thanks a ton! 😃

[2020-09-05 20:14] #37 closed

[2020-09-08 17:42] johanderuijter opened #40 "In order to use the capacity provider, no launchType should be specified when calling runTask"
The capacity provider created by the deploy script isn't actually used when specifying a launchType when calling runTask. To use the created capacity providers, the launchType should be dropped from the parameters as that will cause the default (and in this case only) capacity provider to be used.

https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/db5b082800320df0d52531a1ca3dc3b2

[2020-09-09 18:12] rama-kundurthi opened #41 "Issues with starting recording a meeting"
I believe that I followed all steps as per setup. When I tried to start a recording with of format
https://XXX.execute-api.us-east-1.amazonaws.com/Prod/recording?recordingAction=start&meetingURL=XXX_URL I am seeing the following message:
{
    "message": "No method found matching route recording for http method POST."
}

Can you please let me know what could be wrong?

[2020-09-17 02:54] wesigi opened #43 "Chinese or Japanese show Garbled code in video"
When metting page has chinese or japanese. It can't be display in the record. Like chat message.
![issue](https://user-images.githubusercontent.com/44694427/93414279-887e7c00-f8d3-11ea-86f0-e0aba282246b.png)

[2020-09-18 06:38] pranjal-goswami opened #44 "Possibility of running recording on Fargate"
Is it possible to run the recording tasks on Fargate?
I tried doing that but couldn't because the docker run requires mounting of volume and Fargate at the moment does not allow that.

Anybody found a way of doing that?

[2020-09-24 15:17] vidya-mohan commented on #36
@krokhale - thanks for the interest in the demo app. The current demo does require a public URL of the meeting so the bot can join. You can enhance it with what ever customization you wish

[2020-09-24 15:17] #36 closed

[2020-09-28 22:07] #41 closed

[2020-09-28 22:07] rama-kundurthi commented on #41
user error

[2020-09-29 05:54] sidharth-sid opened #45 "For Recording I have meeting Id ,how to know the meeting URL."
I have integrated the AWS chime to my application, but I'm facing difficulty in the recording where it requires the meeting URL to record. The meeting is inside the same client application but we don't open the meeting in a separate window.
So how do we construct the meeting URL fr recording, we have the meeting Id.
@anuranduttaroy @aburnson @vidya-mohan

[2020-09-29 06:36] sidharth-sid commented on #45
We have a web application where we use the AWS chime meeting (SDK). So each logged in user in the application will be able to create or join a chime meeting. We were able to use the chime SDK and users were able to create and join calls.
As part of the chime integration to our App, we also needed to record the calls happening in the application.
so we were planning to use the recording feature sup

[2020-10-05 09:12] m-minasyan opened #46 "Multi-stream recording"
Good afternoon. I need to be able to record multiple Chime streams at the same time. How can all this be done?

[2020-10-05 18:30] NelsonMeleth commented on #45
Facing same situation here. Documentation only available for serverless meetings. Did you find any solution?

[2020-10-07 16:57] jamontesg opened #47 "how to know the S3 file Object URL"
It is possible that when the recording stops, it returns the id of the S3 object URL ?
Or pass it a name parameter, to be used as a name in the S3 object

Kind Regards

[2020-10-08 05:22] tumbelin opened #48 "Error creating Image"
Hi, I couldn't  follow all the Walkthrough with Cloud9 always getting this error:
"Error processing tar file(exit status 1): write /usr/lib/x86_64-linux-gnu/libgtk-3.so.0.2200.30: no space left on device
Makefile:17: recipe for target 'build_upload' failed"

How can this be fixed?

Also, I am using the setup recommended for Cloud9
![Capture](https://user-images.githubusercontent.com/26089996/95417

[2020-10-08 09:37] ziyiz-amzn commented on #45
In this implementation, the recording agent has to join a meeting as an separate attendee via URL and bypass authentication.
In the demo, https://XXXXX.execute-api.xxxx.amazonaws.com/Prod/v2/ is a portal which bypass authentication or permission popup window, which meeting is created from Chime SDK [demo](https://github.com/aws/amazon-chime-sdk-js).

[2020-10-08 09:43] ziyiz-amzn commented on #47
Yeah, you may add an additional parameter(S3 object name) of start/end recording APIs in APIGateway. Then handle the new parameter in lambda, pass it as an environment variable when create s3 object.

[2020-10-08 17:21] tumbelin commented on #48
@anuranduttaroy

[2020-10-16 14:46] ehickey08 commented on #48
@tumbelin I was running into a similar issue. I used the resize.sh file from the aws docs (https://docs.aws.amazon.com/cloud9/latest/user-guide/move-environment.html) before running any of the commands and it worked fine for me. I was on an Amazon Linux platform though.

[2020-10-17 08:12] tumbelin commented on #48
@ehickey08 thanks a lot, I finally could continue the walkthrough

[2020-10-17 08:13] #48 closed

[2020-10-20 10:20] Rushabh98 opened #49 "failed during deploy step"
Command sam failed with exit code 1 signal null
Error: Failed to create/update the stack: rushabh-recording-stack, Waiter StackCreateComplete failed: Waiter encountered a terminal failure state

![image](https://user-images.githubusercontent.com/62867056/96573570-f9a6ba00-12eb-11eb-9ec2-5c528c419279.png)

[2020-10-22 09:37] ttlpta opened #50 "Can I use AWS CLI instead of Cloud 9 to deploy this app?"
Can I use AWS CLI instead of Cloud 9 to deploy this app?

[2020-10-22 09:39] ttlpta commented on #49
@Rushabh98 Did you resolve this issue? I have met this too

[2020-10-22 15:18] moracarlos commented on #49
In my case, I was using a bucket created in a different region than specified. Check if it's your case @ttlpta @Rushabh98

[2020-10-23 02:18] ttlpta commented on #49
I forgot to add the policy AdministratorAccess for my user.
Btw, Do you meet this error @moracarlos
![image](https://user-images.githubusercontent.com/9917124/96948850-b9745100-1510-11eb-8a2f-e9a47fc7bd0c.png)

[2020-10-23 02:19] ttlpta opened #51 "An error occurred (ClientException) when calling the CreateCapacityProvider operation"
The url of api gateway has been rendered but I still met this error.
Anyone meet this issue? Please help me
![image](https://user-images.githubusercontent.com/9917124/96948867-c1cc8c00-1510-11eb-9158-b3888827984b.png)

[2020-10-23 08:01] ttlpta opened #52 "Cannot read property 'Instances' of undefined"
![image](https://user-images.githubusercontent.com/9917124/96972309-8d70c400-1540-11eb-8d7b-a28a5bc2268c.png)

[2020-10-23 23:19] anuranduttaroy commented on #38
@colohr you can change the values of `adelay` here https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/recording/record.js#L52-L53 to see if that helps.

[2020-10-23 23:21] anuranduttaroy commented on #50
Yes, you can use AWS CLI or deploy it from you local environment with the required AWS Credentials setup to do this as well. We just recommend Cloud 9 since it's in the same AWS account and it makes the setup simple.

[2020-10-23 23:32] anuranduttaroy commented on #49
@ttlpta we store the name of the `autoScalingGroupCapacityProviderName` here https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/deploy.js#L157 and use that name to create the ECS Capacity Provider here https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/deploy.js#L178

Could you print out the variable `autoScalingGroupCapacityProviderName` somewhere b

[2020-10-23 23:41] Aeramor commented on #44
Yes, we did that as a test but ended up not using it as a solution since join time was too long. (~45 seconds)

[2020-10-24 00:21] anuranduttaroy commented on #50
Feel free to re-open if it does not work for you.

[2020-10-24 00:21] #50 closed

[2020-10-26 02:47] ttlpta commented on #49
Thank @anuranduttaroy for the reply. I found the reason is I named the stack with the prefix aws-*** . I changed to re-run the command but still meet another issue which is not related to the naming :(

[2020-10-26 16:27] tumbelin opened #53 "Custom S3 File name"
Hi, I already deploy the cloud formation, everything works fine, however I would like to have control over the video name from the recording.
I saw this old pull request  (https://github.com/aws-samples/amazon-chime-sdk-recording-demo/pull/42), I know I can edit the lambda function as the PR suggest, but, where can I find the record.js file to edit too? or do I have to deploy the cloud formation a

[2020-10-26 20:05] anuranduttaroy commented on #49
What's the new issue you are seeing?

[2020-10-27 09:13] ttlpta commented on #49
@anuranduttaroy  I met this #52

[2020-10-27 09:18] ttlpta opened #54 "How to reset all to run configuration again from step 1?"
I deregister the task definition of ECS, remove the cluster. Deactivate API gateway. But when I redo from step 1, it always returns the error until I change the region.

[2020-10-29 04:23] #54 closed

[2020-10-29 04:23] #52 closed

[2020-10-29 04:25] ttlpta commented on #9
@cmdavinder How you resolved this issue? I call API recording from my own server which is not in AWS and it has been blocked by CORS

[2020-10-29 12:36] dsuraj72 opened #55 "CannotPullContainerError: Error response from daemon: pull access denied for my-docker-image"
Hi Team,

I'm getting following error. Whenever i execute the API G/W with start action, i'm getting following error under Task --> Container --> Status Reason & the task status changes to STOPPED.

**CannotPullContainerError: Error response from daemon: pull access denied for my-docker-image, repository does not exist or may require 'docker login': denied: requested access to the resource is deni

[2020-10-29 17:51] anuranduttaroy commented on #53
The [record.js](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/recording/record.js) file is part of the docker image that runs when we try to start the recording. (Ref: It's called from [run.sh](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/recording/run.sh#L69) script which is called inside the [Dockerfile](https://github.com/aws-samples/am

[2020-10-29 18:11] anuranduttaroy commented on #53
Let me know if this helps. Feel free to re-open if you have further questions about it.

[2020-10-29 18:11] #53 closed

[2020-10-29 18:15] anuranduttaroy commented on #49
@Rushabh98 are you still seeing this issue?

[2020-10-29 18:41] anuranduttaroy commented on #47
@jamontesg

Yes, the S3 file name can be passed as a parameter. I just explained that here in this comment https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issues/53#issuecomment-718919314. You can also return that file name/location that you compose as part of the response here https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/f40d3b84db9940bcf7af206b3a532b5e634788

[2020-10-29 18:48] anuranduttaroy commented on #28
No recent response. Closing this issue. Feel free to re-open if it's still not working for you @rohit0337

[2020-10-29 18:48] #28 closed

[2020-10-29 20:49] anuranduttaroy commented on #43
This looks like a browser issue. I could find some articles about East Asian language support like these ones
- https://support.mozilla.org/en-US/questions/960381
- https://support.mozilla.org/en-US/questions/970836

It sounds like some additional support packages needs to be installed for Firefox to support CJK fonts. I could find some related articles on the internet which shows how to install t

[2020-10-30 04:20] #51 closed

[2020-10-30 04:42] ttlpta opened #56 "Can I use the free tier instance to run demo?"
In the demo, it requires only these instances and they are not free. Can I add the free instance type "Micro" for this?
- mt2.large
    - t2.xlarge
    - t2.2xlarge
    - t3.large
    - t3.xlarge
    - t3.2xlarge
    - m4.large
    - m4.xlarge
    - m4.2xlarge
    - m4.4xlarge
    - m5.large
    - m5.xlarge
    - m5.2xlarge
    - m5.4xlarge
    - m5.8xlarge
    - c4.xlarge
    - c4.2xlarge
    - c

[2020-10-30 21:29] anuranduttaroy commented on #56
Yeah you can add any instance there. The only thing to keep in mind is that the `ffmpeg` process for extracting media is a bit resource intensive. So sometimes, if you are using a `Micro` instance, it would not have the best quality. But you can try out and see how that works out for you.

[2020-10-31 14:07] dsuraj72 commented on #55
@anuranduttaroy can you help me with this issue?

[2020-11-01 09:29] ttlpta commented on #56
Thank you for your replies @anuranduttaroy . I will try

[2020-11-01 09:29] #56 closed

[2020-11-02 03:05] #55 closed

[2020-11-02 14:48] moracarlos opened #57 "Meeting Recorder doesn't appear"
The meeting recorder doesn't join the meeting. The recorded video stays:

<img width="1270" alt="Captura de Pantalla 2020-11-02 a la(s) 10 45 38 a  m" src="https://user-images.githubusercontent.com/8855487/97881440-c9521900-1cf8-11eb-9af3-9d615b7bed6c.png">

[2020-11-02 18:53] anuranduttaroy commented on #57
What is the URL that you are passing to the recorder? Is it the V2 link as mentioned here in [Point #3](https://github.com/aws-samples/amazon-chime-sdk-recording-demo#start-an-amazon-chime-sdk-meeting-with-our-serverless-demo-and-join-with-multiple-participants)

**Example**: If the meeting URL is `https://abcdefghij.execute-api.us-east-1.amazonaws.com/Prod/v2?m=MyMeetingTest`, then the encoded UR

[2020-11-09 08:17] wesigi commented on #43
@anuranduttaroy
Thanks it works。
add the package fonts-noto-cjk in the Dockerfile.

[2020-11-09 08:17] #43 closed

[2020-11-09 15:57] tumbelin opened #58 "No Recording created in S3"
Hi, I have a big issue I noticed sometimes the video is not storage in S3, what I usually do is:  after calling the API with action "start" it returns a regular taskId (arn:aws:......), I storage that info in my database and when the user wants to stop it, he calls the action "stop", everything goes well so far, when the time comes I call the action "stop" and what I expect is to have the video ob

[2020-11-11 01:16] Bijan-Massoumi opened #59 "Getting no matching method error when calling the recording endpoint"
Thanks for your time, I'm having an issue when hitting the endpoint to trigger the recording bot. I got a 404 along with this error:

{
    "message": "No method found matching route recording for http method POST."
}

In Postman, I'm using this endpoint:
https://<redacted>.execute-api.us-east-1.amazonaws.com/Prod/recording?recordingAction=start&meetingURL=https%3A%2F%2F<redacted>.execute-api.us-e

[2020-11-18 22:30] JesusCamaRay commented on #48
How much GiB is required for the image?

[2020-11-18 23:32] tumbelin commented on #48
Hola @JesusCamaRay , la verdad no sé, como era un ambiente temporal en CLoud9 use el máximo que era 20, y una vez tuve la imagen lo elimine para no generar mucho sobre costos

[2020-11-19 12:43] junedlanja commented on #52
@ttlpta Facing similar issue. Do you found solution?

[2020-11-19 13:08] junedlanja commented on #49
@anuranduttaroy facing issue #52

[2020-11-19 14:28] ttlpta commented on #52
@junedlanja  yes, in my case, I grant the wrong role for the user. It is not admin

[2020-11-25 17:51] anuranduttaroy commented on #38
Feel free to re-open if it's still an issue.

[2020-11-25 17:51] #38 closed

[2020-11-25 17:57] anuranduttaroy commented on #47
@jamontesg Feel free to re-open if it's still an issue.

[2020-11-25 17:57] #47 closed

[2020-11-25 17:58] anuranduttaroy commented on #57
@moracarlos feel free to re-open if it's still an issue.

[2020-11-25 17:58] #57 closed

[2020-11-25 18:02] anuranduttaroy commented on #49
@junedlanja it seems https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issues/52 was solved by @ttlpta https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issues/52#issuecomment-730411198

Closing this one. @Rushabh98 feel free to re-open if this is still an issue for you.

[2020-11-25 18:02] #49 closed

[2020-11-25 18:03] anuranduttaroy commented on #52
@junedlanja did this solve your issue?

[2020-11-25 18:06] anuranduttaroy commented on #58
@tumbelin can you attach the logs from the ECS task when this issue happens?

[2020-11-25 18:23] anuranduttaroy commented on #45
Thank you for your interest in the SDK. The current Amazon Chime SDK does not support meeting recording out of the box. Read more here: https://aws.github.io/amazon-chime-sdk-js/modules/faqs.html#does-amazon-chime-sdk-support-recording-functionality

The current recording demo is setup to record a webpage - our demo application [bypasses authentication](https://github.com/aws/amazon-chime-sdk-js/b

[2020-11-25 18:23] #45 closed

[2020-11-25 22:42] vidya-mohan commented on #46
@m-minasyan could you help us understand what did you mean by multiple Chime streams? Did you mean multiple meetings? Or separate audio and video streams in the same meeting?

[2020-11-30 11:44] junedlanja commented on #52
@anuranduttaroy Yes in my case docker image uri (`my-docker-image-uri`) region and `region` were different in .`node ./deploy.js -b <my-bucket> -s <my-stack> -i <my-docker-image-uri> -r <region>`. Deployed on same region and it successfully deployed.

[2020-12-01 11:09] m-minasyan commented on #46
I mean to record multiple meetings in the same time.

[2020-12-01 12:33] junedlanja opened #60 "Audio not recorded in version 2.2.0"
I setup the environment as described. Everything is working fine recording is created in S3 bucket , screen and videos are captured perfectly but audio is missing. No audio is recorded at all. @anuranduttaroy

[2020-12-02 03:29] anhnt1-hblab opened #61 "Error RESOURCE:CPU start record"
When i start recording, I got an error like below.
I don't know what error this is and how to fix it, can you help me?
@anuranduttaroy @ltrung
{
    "tasks": [],
    "failures": [
        {
            "arn": "arn:aws:ecs:us-east-2:468629877310:container-instance/08289ec66add4f558e413fbf78d11ed6",
            "reason": "RESOURCE:CPU"
        }
    ]
}

[2020-12-04 10:55] junedlanja commented on #38
In my case Im not getting audio at all

[2020-12-06 05:14] tumbelin commented on #58
No, sadly I didn't get the ECS Task. Do you think it is possible that I get the right ECS task for the start action, also for stop and in the end don't get any recording?

[2020-12-06 18:02] wataruiijima commented on #60
I had a similar problem, so I investigated and found that the latest version of amazon chime sdk serverless demo had no sound.
So I dropped the version of amazon chime sdk serverless demo down to tag version 1.22.0 and I was able to record.

`git clone https://github.com/aws/amazon-chime-sdk-js.git -b v1.22.0
`

I hope your problem is resolved as well.

[2020-12-07 07:30] bpawlik commented on #60
I solved it by increasing the sleep time at line 66 in recording/run.sh from 0.5 s to 3s.

[2020-12-08 07:50] junedlanja commented on #60
@wataruiijima You are right v1.22.0 is working. But its not working in 2.2.0

[2020-12-10 18:28] anuranduttaroy commented on #59
The meeting endpoint seems incorrect. The structure of an API Gateway URL is something like this `https://{restapi_id}.execute-api.{region}.amazonaws.com/{stage_name}/`. The URL you shared seems to be missing the `{restapi_id}`

Also, with amazon-chime-sdk-js release 2.0.0, the `v2` demo app is removed. So you might not even need `/v2/` in the URL. If the serverless demo app is being recently inst

[2020-12-16 22:41] anuranduttaroy commented on #58
Once you start the recording, you would get an ECS task ARN back in the response. That task would be seen in the ECS console. If the task ends, there is a section in ECS to get logs for the "Stopped" tasks as well. Could you check if the logs are present there?

<img width="868" alt="Screen Shot 2020-12-16 at 2 39 57 PM" src="https://user-images.githubusercontent.com/4708896/102415283-c7909c00-3fa

[2020-12-17 18:12] ziyiz-amzn commented on #60
This issue can be reproduced after v2.0.0. We will investigate and work on the fix.

[2020-12-17 21:44] anuranduttaroy commented on #60
Related: https://github.com/aws/amazon-chime-sdk-js/pull/958

[2020-12-17 23:15] ziyiz-amzn commented on #60
This issue was caused by a bug in amazon [aws/amazon-chime-sdk demo app](https://github.com/aws/amazon-chime-sdk-js/pull/958). It has been merged and will be available in v2.3.0.

Closing this issue and feel free to open if any further question.

[2020-12-17 23:15] #60 closed

[2020-12-18 21:23] ziyiz-amzn commented on #27
@OliverwengFiltered For ECS, we have [this configuration](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/pull/17) to stop the FF tab from crashing. I guess the same config should be considered if running the docker on localhost machine.

Meanwhile, we are trying to reproduce the issue without running on ECS.

[2020-12-22 04:39] ziyiz-amzn commented on #27
Tried to reproduce the issue by running the recording docker container both on a local Mac and a cloud9 instance against the URL https://www.youtube.com/watch?v=lgUDuZS9MVQ.

No crash was observed during ~10 tests.

If you are still having this issue, you can try to explicitly specify --shm-size parameter in `docker run` command. [For example](https://github.com/aws-samples/amazon-chime-meeting-br

[2020-12-22 15:40] OliverwengFiltered commented on #27
yup, it might be just a firefox v78 issue, never seen that again after using v83. please close this one now. thank you.

[2020-12-22 18:30] #27 closed

[2020-12-28 22:38] ziyiz-amzn commented on #46
You can use the deployed recording URL to start recording multiple meetings.

You can scale by setting the ECS auto scaling group [here](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/templates/RecordingDemoCloudformationTemplate.yaml#L32-L40).

Hope it helps.

[2020-12-28 22:59] ziyiz-amzn commented on #61
It is because the CPU of ECS task is limited. You can either try to decrease the default [ECSTaskCpu](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/templates/RecordingDemoCloudformationTemplate.yaml#L7-L9) and [ECSContainerCpu](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/templates/RecordingDemoCloudformationTemplate.yaml#L16-L18), but it

[2020-12-30 04:33] gerardovs76 opened #63 "Handle Names"
Hi, thanks for your project.

I have a question. What if I want to handle a custom name. I don't want that date/time name.

Or how can I have a reference to the mp4 object in S3.

If I have hundreds of recordings, how can I reference each one without going to S3 bucket and manually check one by one.

I've already tried modifying the index.js file. Passing a meetingId as environment parameter and t

[2021-01-04 18:29] ziyiz-amzn commented on #63
Your approach seems very close to it.

Have you added the `meetingId` parameter when you call `startRecording()` in [lambda handler](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/f40d3b84db9940bcf7af206b3a532b5e634788b8/src/index.js#L40-L44)?

[2021-01-13 03:52] schuettc opened #64 "Deployment fails at step 3 (make ecr)"
During deployment using Cloud9 m5.large:

 /tmp/apt-dpkg-install-aZaNrP/194-firefox_84.0.2+build1-0ubuntu0.18.04.1_amd64.deb
E: Sub-process /usr/bin/dpkg returned an error code (1)
The command '/bin/sh -c /usr/bin/apt-get update &&      /usr/bin/apt-get install -y curl &&     curl -sL https://deb.nodesource.com/setup_10.x | bash - &&      /usr/bin/apt-get update &&      /usr/bin/apt-get upgrade -y

[2021-01-15 15:10] TrierHealth opened #65 "Recording bot is not joining"
Hi,

Recording bot is not joining. The entire setup was fine.
I see in the ECS logs the below message:
(firefox:62): LIBDBUSMENU-GLIB-WARNING **: 15:02:21.586: Unable to get session bus: Failed to execute child process ?dbus-launch? (No such file or directory)
Could someone help?

Thanks,
Ravi.

_Originally posted by @nagydniel in https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issu

[2021-01-15 15:33] TrierHealth commented on #65
The above warning is gone after installing: dbus-x11
But still the bot is not joining.

[2021-01-15 16:40] TrierHealth commented on #65
Adding /v2 in the meeting url fixed the issue. Bot is joining now.

[2021-01-15 16:40] #65 closed

[2021-01-15 19:38] TrierHealth opened #67 "Configuration needed to only record audio, not video"
Hi,

Could someone help me in the configuration needed to only record audio, not video ?

Thanks,
Ravi V.

[2021-01-20 08:53] thinhlx1993 commented on #65
I don't know how to add /v2 to the meeting URL. Can you help me? I have trouble when recording video. The recoding video always show can't connected to the server at <metting_id>?record=true

[2021-01-25 18:53] gilles-leblanc opened #69 "Cannot record website that is outside of AWS"
We have deployed and tested the demo application and we can record just fine.

We already have an existing web site that uses Chime to which we want to add recording. The application isn't deployed on AWS but on a third party server but it calls the Chime SDK.

When we try to record this URL or any external URL (we have tried for example our company's website) we get a video that contains a Firefo

[2021-01-25 20:35] #69 closed

[2021-01-29 20:05] jpfortin commented on #69
As shown in the image, it turned out that the SDK needs to record a URL that absolutely has a query string. The SDK could handle both cases preferably.

run.sh line 8
`BROWSER_URL="${MEETING_URL}&record=true"
`

[2021-02-04 18:44] TrierHealth commented on #65
Hi @thinhlx1993 , if your meeting url is
https://UNIQUE.execute-api.us-east-1.amazonaws.com/Prod/
Just add v2/ at the end making it
https://UNIQUE.execute-api.us-east-1.amazonaws.com/Prod/v2/

Thanks,
Ravi.

[2021-02-05 08:22] TrierHealth opened #70 "Corrupted mp4 recording"
Sometimes the recorded file is corrupted. We get the below message when tried to play the mp4

**Choose something else to play. This item is in a format we don't support.**

Is there any specific setting required other than the default code in the repo ?

Thanks,
Ravi V.

[2021-02-06 03:52] TrierHealth commented on #70
HI @anuranduttaroy, would you be able to help us? If recording doesn't work, we will have to move out of Chime, no option as this is one of our core requirements. We have the below setting for Audio recording. When the mp4 files are downloaded, sometimes they come out well, sometimes they are corrupted. Please help.

[code]

Thanks,
Ravi V.

[2021-02-07 07:17] TrierHealth commented on #70
@ziyiz-amzn would you be able to help to understand and resolve why sometimes the recorded file in s3 is corrupted.

[2021-02-12 20:49] ellismarte opened #71 "Audio & video no synced"
Hey I noticed that my audio and video are off by a second or two. I noticed there's a settting in record.js

https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/recording/record.js#L53

Should I adjust this to get rid of they delay? If so what would the values be? It seems the audio is ahead of the video.

[2021-02-23 07:35] vinciabhinav opened #72 "Question : Can we increase Screen Share video recording quality"
Hey Team, Thanks for this awesome resource !

Issue Context: I am using react aws chime ContentShare Component. [The share quality in the meeting is quite good ], but the recording quality in s3 is relatively low.

Attached screenshots :

Live Screenshare quality:
<img width="826" alt="Capture (3)" src="https://user-images.githubusercontent.com/53426516/108813847-c5b00e00-75d7-11eb-9274-873d5fd6d4

[2021-02-24 20:16] michhyun1 commented on #71
Hey @ellismarte, I just posted a response to your duplicate issue on the JK SDK repo, but just to re-iterate, please refer to this issue regarding this topic -https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issues?q=is%3Aissue+-label%3ATriaged+is%3Aclosed

[2021-02-24 21:26] anuranduttaroy commented on #71
@ellismarte here is the solution that worked for others https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issues/38#issuecomment-685148540.

Could you give this a shot and let us know if that works for you?

[2021-02-25 01:42] ellismarte opened #73 "Movflags"
Hey I noticed that when I stream my recording it takes a while to start. I'm thinking adding this flag "-movflags faststart" should speed up the start of the video but I noticed this comment and was wondering if this means i can't add faststart?

https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/recording/record.js#L59-L60

[2021-02-25 18:48] ellismarte commented on #71
Thanks. I'll try to reduce the delay. I just posted another issue that has to do with movflag -- if you guys have a minute I'd appreciate your feedback.

[2021-02-28 13:51] TrierHealth commented on #70
As the issue is only when doing audio recording, for now fixed this by updating mp4 with wav as we only need audio recording. However, as the file size is heavy, this needs to be handled in a different way.

[2021-02-28 13:51] #70 closed

[2021-02-28 13:53] TrierHealth commented on #67
Used wav instead of mp4 and commented all settings related to video.

[2021-02-28 13:53] #67 closed

[2021-03-04 22:38] marloncard commented on #46
There's a bit of a delay with the current auto scaling group configuration and being able to handle a second recording. A second instance comes online about 10 minutes after I start a recording. That provides enough cpu to start a second recording. From then on there's more than enough instances online for additional recordings. In case anyone is having trouble with this.

[2021-03-12 21:36] robertbarron opened #75 "Question: Is it posible to remove the "enable video" tile so the bot can record full screen?"
Hello,

So I am wondering if there is a way to remove the "enable video" part from the bot, so it can record only the shared video of the attendee and not the one from the bot.

Thanks

![Captura de Pantalla 2021-03-12 a la(s) 15 28 54](https://user-images.githubusercontent.com/3171027/111000909-82300080-8348-11eb-88a7-83ed5dc00d5a.png)

[2021-03-15 18:14] devalevenkatesh commented on #75
Hello, it looks like the issue is with the Amazon Chime App and not with the Amazon Chime JS SDK. Sorry, but this repo is for the Amazon Chime JS SDK and we do not support the Amazon Chime app. Hence, request you to open a AWS support ticket for Amazon Chime or you can ask questions at https://answers.chime.aws/.

Additional Resources:
https://docs.aws.amazon.com/chime/latest/ug/chime-getting-supp

[2021-03-15 18:14] #75 closed

[2021-03-24 04:35] adesun2k opened #76 "Simple hack: what if users closed the tab instead of pressing the end call button."
In some cases the users may close the tab instead of hitting the end button. In this case will the recording ever stop at any point or the recording is gone into oblivion?.

[2021-03-24 04:42] adesun2k opened #77 "Will the headless meeting attendee be charged per minute too like real participant"
Will the headless meeting attendee be charged per minute too like real participant?

[2021-03-25 09:18] kalebupatan7 opened #78 "Got "404 not found" message from recorded video from S3 bucked"
I followed all these steps from this link https://aws.amazon.com/blogs/business-productivity/how-to-enable-client-side-recording-using-the-amazon-chime-sdk/
Successfully recorded video, but when I open recorded video from S3 bucket, I got "404 not found" message & I can't hear & see recorded video.

I attached recorded video sample from S3 bucket.

https://user-images.githubusercontent.com/5935543

[2021-03-25 22:03] anuranduttaroy commented on #76
Hey @adesun2k

The only time in this demo the recording stops is when we call the stop recording API. So if you want to handle the situation you mentioned, the bot needs to be intelligent to stop recording when the meeting ends.

If there are no participants in the meeting, the Meeting AutoEnd policies would kick in and the meeting will end. Something you can do to handle that is, whenever you get

[2021-03-25 22:06] anuranduttaroy commented on #77
Hey @adesun2k

Yes, the meeting bot joins the serverless demo as a regular participant. So the billing would be same as a real participant.

[2021-03-25 22:06] #77 closed

[2021-03-29 19:54] anuranduttaroy commented on #78
Hey @kalebupatan7, just by looking at this, it looks like a permission issue.

Is it possible for you to share the ECS task logs from the ECS console? That might highlight any errors that might have occurred during the upload process.

[2021-03-29 19:56] anuranduttaroy commented on #58
Hey @tumbelin, feel free to re-open this if you are still experiencing this issue.

[2021-03-29 19:56] #58 closed

[2021-03-29 19:57] anuranduttaroy commented on #61
Hey @anhnt1-hblab, feel free to re-open this if you are still facing this issue.

[2021-03-29 19:57] #61 closed

[2021-04-07 05:11] kalebupatan7 commented on #78
Hi @anuranduttaroy, can you tell me where can I see ECS task logs?

[2021-04-07 05:34] kalebupatan7 commented on #78
Hi @anuranduttaroy, here it is log of task in ECS
Note: I kept personal information like chime ID, call joined name as *********

2021-04-07 10:53:44[stream upload process] - success - uploaded the file to: https://chime-meeting-sdk-*********
-us-west-1-recordings.s3.amazonaws.com/2021/4/7/5/2021-04-07T05%3A20%3A55.mp4
[stream upload process] - success - uploaded the file to: https://chime-meeting

[2021-04-07 09:31] shubhamgoswamiofficial opened #79 "Permissions Issue"
Can we get what all permissions are required by our IAM user to perform all the stack tasks. It's hard to execute every time and new permission is required. Any one who can help?

[2021-04-13 09:43] michhyun1 commented on #79
Hi @shubhamgoswamiofficial  - In the README, a prerequisite is to have an IAM Role with the AdministratorAccess policy attached. Let me know if you have any other questions.

[2021-04-13 09:43] #79 closed

[2021-04-22 15:26] robertbarron commented on #44
Hey @Aeramor we switched to fargate in order to reduce loading times when we had more than 1 recording, but our startup time is about 90 seconds. How did you manage to reduce join time with ec2?

Thanks

[2021-04-22 16:18] robertbarron opened #81 "Help with multiple recordings at the same time"
Hello,

I've been testing your solution for the past month so it can be used in an invitation only production environment. At first we used it out of the box with given configuration. When we were testing it, we found that when we had more than 2 recordings at the same time, the next recording took more than 10 minutes to join, and the next one, almost 30.

I think is a configuration issue from my

[2021-04-22 21:50] Aeramor commented on #44
We had to switch to EC2 and just have additional capacity on standby; was the only way to get it fast enough (we got it down to ~2 seconds).

[2021-04-27 17:24] anuranduttaroy commented on #44
Hey @robertbarron

Here are some improvements that you can make to reduce the start latency.

1. There is a `ECS_IMAGE_PULL_BEHAVIOR` in [ecs-agent-config](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html) which you can use to cache the docker image. This reduces the time to pull the image from ECR and use it to spin up the ECS Task. But for using this, you might h

[2021-04-27 18:02] anuranduttaroy commented on #44
Hey @pranjal-goswami,

Yes we can run the recording task in Fargate too but as @Aeramor & @robertbarron mentioned, it takes some time to start the task as in Fargate, it has to allocate an instance, pull the docker image, and then start the container. This takes anywhere upwards of 20-30 seconds. But you can again follow the same optimizations mentioned in the comment above https://github.com/aws-

[2021-04-28 00:03] robertbarron opened #83 "Issue recording session before opening firefox"
Hello,

I want to start recording the session before firefox has been open so I can debug correctly the entire sequence of instructions.

So, I tried to execute the recording without blocking the next commands. To do this, I am adding an ampersand (&) after the "exec node ..." command, but I am getting the following error:

(firefox:63): Gtk-CRITICAL **: 23:56:26.909: gtk_widget_get_window: assert

[2021-04-29 09:19] MohammedAbadi1991 opened #84 "MP4 file generated is not editable by Quick Time Player on Mac"
Download the generated mp4 file from S3 bucket.
Open it using Quick Time Player on Mac.
The file is not editable (Trim option is disabled)
I was able to edit it on Windows using Active presenter.

[2021-05-02 20:20] nchandupatla opened #85 "Unable to record the meeting when using amazon-chime-sdk-component-library-react"
Hi,

I followed the below documentation to set up and host serverless meetings

https://github.com/aws/amazon-chime-sdk-component-library-react/tree/master/demo/meeting

But the problem is that I cannot record the meetings using the steps in this README.

Please let me know if you how to record meetings when using react chime SDK

[2021-05-03 21:58] vidya-mohan commented on #63
Resolving as no response

[2021-05-03 21:58] #63 closed

[2021-05-06 21:38] shaheryar0129 commented on #12
@haofiltered
I encountered the same issue.Can you suggest how to add api gateway policy to my account

[2021-05-06 22:44] shaheryar0129 commented on #12
@haofiltered
i have these policies attached to my user still facing same issue.see [image](https://i.imgur.com/NyDnHvo.png)
could you provide a little assistance to me ,I would highly appreciate

[2021-05-06 22:59] shaheryar0129 opened #86 "Getting Error: Failed to create/update the stack: stack-name Waiter StackCreateComplete failed: Waiter encountered a terminal failure state"
will deploying using `node ./deploy.js -b <my-bucket> -s <my-stack> -i <my-docker-image-uri> -r <region>` I am facing the issue

I have these permission for my user see [image](https://i.imgur.com/NyDnHvo.png) and I have chosed **us-east-2** as my region everywhere.
I have deployed 2,3 times before and it worked but its not working now

[2021-05-07 02:09] anuranduttaroy commented on #86
Hey @shaheryar0129

Thanks for reporting this issue. I tried to deploy a fresh copy of the recording application in `us-east-2` and everything worked fine for me. Here are the steps I followed.

1. Created a new cloud9 instance. Just for testing purpose I used the below configuration
    - `c4.4xlarge` as the instance type
    -  Region `us-east-2`
2. Created an ECR repository and built+upload the

[2021-05-07 04:33] anuranduttaroy commented on #76
@adesun2k please feel free to re-open this issue if you still have question about this.

[2021-05-07 04:33] #76 closed

[2021-05-07 04:37] anuranduttaroy commented on #64
Hey @schuettc,

I tried to deploy the recording application on a cloud9 instance running on `c4.4xlarge` instance. My deployment failed too. But then the issue was there were some unwanted docker images which was cached. Try to remove the cached docker images using the command `docker image prune -a` and try to run the make command again i.e `make ECR_REPO_URI=<repositoryUri>`

Let me know if this

[2021-05-07 04:59] schuettc commented on #64
Thanks, that did help.   Thanks for updating the FAQ with that as well.

[2021-05-07 04:59] #64 closed

[2021-05-07 05:25] shaheryar0129 commented on #86
Thanks a lot for responding.

I tried with *c4.x4large *intance as well and followed the same
steps..still getting error.

On Fri, May 7, 2021 at 7:09 AM Anuran Duttaroy ***@***.***>
wrote:

--
*Shaheryar Ahmed*
*Associate Software Engineer at EXPERIA <http://experia.ai/>*
Email : ***@***.***
Office : +923416744456
Phone : +923343696707
Meetings : https://calendly.com/shaheryar-ahmed/30min
http://

[2021-05-07 06:16] shaheryar0129 commented on #86
@anuranduttaroy I think I have given enough information for the issue .Can you please mention which information I should add ?

[2021-05-07 17:35] anuranduttaroy commented on #86
Questions:
1. Are you trying with admin permissions?
2. If yes, can you share the stack trace when you get the error. From the terminal in Cloud9 and also from the AWS Cloudformation console's event tab. I want to see which resource creation is causing that issue.

[2021-05-07 18:20] anuranduttaroy commented on #59
Closing this due to inactivity. @Bijan-Massoumi please feel free to re-open the issue if you still have questions.

[2021-05-07 18:20] #59 closed

[2021-05-07 18:22] shaheryar0129 commented on #86
1: yes I do have admin permissions, see image
<https://i.imgur.com/CpChZSl.png>
2. stack events tab:stack-image <https://i.imgur.com/2c2YTwQ.png>
cloud9 error logs: cloud9-image <https://i.imgur.com/2c2YTwQ.png>

Thanks for the concerns.Looking forward

On Fri, May 7, 2021 at 10:35 PM Anuran Duttaroy ***@***.***>
wrote:

--
*Shaheryar Ahmed*
*Associate Software Engineer at EXPERIA <http://experia.

[2021-05-10 10:47] shaheryar0129 commented on #86
@anuranduttaroy any update on this?

[2021-05-10 19:31] anuranduttaroy commented on #81
Hey @robertbarron

There are some improvements that you could do reduce the bot join time. The 2nd point in the [FAQ](https://github.com/aws-samples/amazon-chime-sdk-recording-demo#faq) talks about it.

For running multiple recordings, you can use the existing demo to start multiple meeting recordings, and by multiple, I mean multiple recordings of the same meeting and also different meetings. All

[2021-05-10 19:42] anuranduttaroy commented on #46
The 2nd point in the [FAQ](https://github.com/aws-samples/amazon-chime-sdk-recording-demo#faq) talks about ways to speed up the bot join process. I have also mentioned way to speed up the bot join and optimize the use of EC2 instance here in this comment https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issues/81#issuecomment-837202885

Hope this helps.

Feel free to re-open this in c

[2021-05-10 19:42] #46 closed

[2021-05-10 19:58] anuranduttaroy commented on #71
Closing this since the original issue was addressed.

[2021-05-10 19:58] #71 closed

[2021-05-10 20:48] bgiorgini opened #87 "Change instructions to use git clone over HTTPS"
I suggest to update instructions for users to clone the repository over HTTPS instead of using SSH.

Regular user trying git clone over SSH:
[code]

Regular user trying git clone over HTTPS:
[code]

[2021-05-10 21:12] #87 closed

[2021-05-11 17:18] anuranduttaroy commented on #86
Hey @shaheryar0129, the screenshot here https://i.imgur.com/2c2YTwQ.png does not show which AWS Resource started the rollback. Can you share the screenshot of entire event log here?

[2021-05-12 11:55] brunokunace commented on #72
@vinciabhinav you solve this?

[2021-05-12 12:03] shaheryar0129 commented on #86
@anuranduttaroy Issue resolved!
I deleted previously created s3 bucket: **chime-meeting-sdk** which contains all of our recordings .After deleting this, I perform all of the steps in walkthrough and it worked

Thanks a lot for the cooperation :)

[2021-05-12 12:04] #86 closed

[2021-05-12 12:22] vinciabhinav commented on #72
Yes,
In recording/run.sh file

Change

-SCREEN_WIDTH=${RECORDING_SCREEN_WIDTH:-'1280'}
-SCREEN_HEIGHT=${RECORDING_SCREEN_HEIGHT:-'720'}

to below

+SCREEN_WIDTH=${RECORDING_SCREEN_WIDTH:-'1920'}
+SCREEN_HEIGHT=${RECORDING_SCREEN_HEIGHT:-'1080'}

[2021-05-12 12:22] #72 closed

[2021-05-12 22:39] robertbarron opened #88 "Black screen on video section of customer camera on the recorded video"
Hello,

We recently started to see an issue where the section where the customers' camera is viewed is black. We had seen this problem before but it was very rare. Currently, we are watching it 1 or 2 times for every 10 recordings.

While having the call, the section where the customer's camera is being viewed looks great, but the recorded video shows those section with the gray background.

The r

[2021-05-14 23:30] anuranduttaroy commented on #88
Hey @robertbarron, this looks like the Amazon Chime Web Client which is different from the SDK. If it's the Web Client, it supports meeting recording from the app itself. There is a "record" button on the bottom left of the screen which starts the meeting recording.

[2021-05-15 00:19] anuranduttaroy commented on #73
Hey @ellismarte, I added a [FAQ](https://github.com/aws-samples/amazon-chime-sdk-recording-demo#faq) which talks about some of the ways to speed up the bot join process.

Also, here https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issues/81#issuecomment-837202885 I mentioned how we can use Amazon ECS to use different placement constraints and strategies which can also help pack multi

[2021-05-15 00:20] anuranduttaroy commented on #44
@pranjal-goswami feel free to re open this issue if you still have questions.

[2021-05-15 00:20] #44 closed

[2021-05-16 15:58] shaheryar0129 commented on #81
@anuranduttaroy I have quick questions...
1. when using **binpack** as our placement strategy,if the current instance is fully utilized and dont have enough resources to entertain new meetings,would it simply terminate the new meetings or it will created another instance to entertain new meetings?
2. Does it require deployment again?or I can just change it in our forked repo?

[2021-05-17 12:34] rohit0337 opened #89 "Bot Recording from form page"

[2021-05-17 12:35] rohit0337 opened #90 "Bot Recording from form page"
Hello
we added recording solution into our application. its recording the meeting but its stuck on join form page and recording all meeting from there.

[2021-05-17 19:24] shaheryar0129 opened #91 "Unable to fully utilize current ec2 instance before creating new ec2 instance for multiple recordings"
I am trying to multiple recordings of **different meetings** AT THE SAME TIME.For that im trying to fully utilize current ec2 instance,if the capacity fills up then it should create new one and so on.Whats happening now is when I try to record more than 1 meetings,it first gives me error `reason: 'RESOURCE:CPU'`..After some minutes auto scaling group automatically creates new instance than I get a

[2021-05-21 06:45] ebony-g opened #92 "store recording to external storage instead of s3"
Hi,

I've read the document and it is stated that the record is being saved to the s3 bucket.

```Once the recording stops open the AWS Console and navigate to Amazon S3. The recording is saved in the bucket chime-meeting-sdk-<aws-account-id>-<region>-recording-artifacts with the following format: YYYY/MM/DD/HH/<ISO8601 time when meeting started>.mp4. You can now play or edit this recording, as ne

[2021-05-25 00:02] anuranduttaroy commented on #90
Hey @rohit0337

Can you share some more details about the issue. May be some ECS logs and screenshot of the issue would help.

[2021-05-25 21:50] anuranduttaroy commented on #91
Hey @shaheryar0129

The **t3.xlarge** instance has 4vCPU and 16.0GB memory. For each recording task, we define some memory and CPU limits here in the [AWS Cloudformation template](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/templates/RecordingDemoCloudformationTemplate.yaml#L16-L21) e.g 4vCPU and 8GB of memory. This is the default value and you can change it accordin

[2021-05-26 00:10] anuranduttaroy commented on #89
Looks like a dup of https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issues/90

[2021-05-26 00:10] #89 closed

[2021-05-27 01:15] ebony-g opened #93 "where to locate files when deployed at ec2 instance"
Hi,

I am looking for the files when it is deployed at ec2. I tried to upload/save the file at ec2 instead of sending it directly to s3 however, I cannot find a way on where it is being saved.

Can you point to me where it is located?

Thank you.

[2021-05-27 10:33] shaheryar0129 commented on #81
@anuranduttaroy ?

[2021-05-27 17:59] anuranduttaroy commented on #81
1. No it won't terminate existing meetings. It would throw an error when you try to start a new meeting recording. The same error you mentioned here reason: https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issues/91#issue-893640129 `'RESOURCE:CPU'`. If you have your autoscaling policy set, it will try to add more instances to accommodate  new meeting recording tasks.
2. If you are ch

[2021-05-27 20:38] anuranduttaroy commented on #88
Hey @robertbarron feel free to re-open this if you still have questions.

[2021-05-27 20:38] #88 closed

[2021-05-27 20:40] anuranduttaroy commented on #81
Hey @robertbarron feel free to re-open this issue if you still have questions about multiple meeting recordings. @shaheryar0129 please open a new issue if you have more questions about your setup.

[2021-05-27 20:40] #81 closed

[2021-05-27 20:48] anuranduttaroy commented on #92
Hey @ebony-g, unfortunately in this demo, we are only uploading the recording artifacts to Amazon S3 using this [S3Uploader class](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/recording/utils/upload.js#L10) and using it here https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/recording/record.js#L77.

If you want to upload it to some other desti

[2021-05-29 15:16] shaheryar0129 commented on #91
@anuranduttaroy I tried but it didn't worked.I have changed all of my CPU and memory related configuration to half and used `field:CPU` as my `placementStrategy`...So technically,each instance should be able to entertain two meetings at the same time but still it is creating separate ec2 instance for each meeting

Here is my placementStrategy: [image](https://i.imgur.com/o7Wg4lf.png)

Here is my R

[2021-05-29 15:17] shaheryar0129 commented on #91
@anuranduttaroy I tried but it didn't worked.I have changed all of my CPU and memory related configuration to half and used `field:CPU` as my `placementStrategy`...So technically,each instance should be able to entertain two meetings at the same time but still it is creating separate ec2 instance for each meeting

Here is my placementStrategy: [image](https://i.imgur.com/o7Wg4lf.png)

Here is my R

[2021-06-07 05:22] shaheryar0129 commented on #91
@anuranduttaroy any update on this?

[2021-06-11 15:13] raveendar opened #94 ""DistinctInstance placement constraint unsatisfied.""
Hi Team,

I am getting error  "DistinctInstance placement constraint unsatisfied." when i calling recording api

There is no parallel recording going on

Not sure what is wrong

[2021-06-13 08:53] pranjal-goswami opened #95 "Getting a tab crashed error in recrodings"
We have recently started getting a tab crash error from firefox in the recordings.
Is there a way to diagnose this?

![image](https://user-images.githubusercontent.com/1142904/121801045-ecf81d00-cc52-11eb-9e6e-a3702da2fde0.png)

[2021-06-20 07:31] ArtmisL opened #96 "Readme Information is not accurate"
I deployed the Amazon Chime SDK Serverless demo and proceeded to make meeting however upon copying the url to the new tab it asks for name and information and does not automatically join. This is an issue for testing the recording demo.

Am I missing something?

[2021-06-21 17:05] anuranduttaroy commented on #96
Hey @ArtmisL, are you trying to test how the recording bot joins the meeting automatically by pasting the URL in the browser?

For that, you need to append `record=true` param in the URL. Here is an example of the URL

[code]

Let me know if this answers your question.

[2021-06-21 17:07] anuranduttaroy commented on #94
Hey @raveendar

Are you seeing this error in the ECS logs? Could you please post the entire log statements here. This will help me investigate the issue more.

Thanks

[2021-06-21 18:36] sagarpatel288 opened #97 "How can we pause and resume recording?"
It is a question or a feature request.

[2021-06-22 18:25] robertbarron commented on #88
Hey @anuranduttaroy , the recording button only records audio and "share screen" only. I want to record the entire sesion, but I am finding a lot of issues with Chime web client, like audio quality, black screens and more.

Thanks for your help!

[2021-06-23 19:36] michhyun1 commented on #97
@sagarpatel288 unfortunately this is not currently supported. You'll have to start and stop the recording. Thanks

[2021-06-24 05:15] sagarpatel288 opened #98 "Landscape recording is cropping the screen width (content) of the android application"
**Changing the orientation mode from portrait to landscape in an Android application while screen recording is going on, is cropping the screen width (content) of the Android application for the landscape mode in the generated recording file**

1. Chime android SDK version: **0.11.4**
2. [Screen recording api] (https://github.com/aws-samples/amazon-chime-sdk-recording-demo)
3. Device: Samsung SM-E

[2021-06-24 11:44] sagarpatel288 commented on #97
Thanks for the reply @michhyun1

[2021-06-25 11:14] paul365 opened #99 "There is significant delay between audio and video"
Hi, Do you guys know what might cause a delay between the audio and video in the recording file? Thanks!

[2021-06-25 17:03] devalevenkatesh commented on #99
Hello @paul365 ,

Thanks for reporting this issue. I see we have had few closed issue who ran into similar problems.

From #38 issue, could you please check if [this comment](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issues/38#issuecomment-685148540) works for you. There is a PR for the same if you can try that out as well: https://github.com/aws-samples/amazon-chime-sdk-recor

[2021-07-02 16:35] kawaljee commented on #13
@anuranduttaroy Even we are getting the same issue. Could you please help us resolve it?

[2021-07-02 16:46] kawaljee opened #100 "Environment tag key cannot be updated by your account."
![Group 1](https://user-images.githubusercontent.com/37301964/124305650-04a43080-db83-11eb-89cb-e703fc1e5650.png)

We are getting the same issue as mentioned in [https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issues/13](url)

[2021-07-02 19:14] michhyun1 commented on #100
@kawaljee Could you try deploying a new stack and see if that works for you?

[2021-07-05 11:49] kawaljee commented on #100
Hi, @michhyun1 I tried that but it didn't work for me.

[2021-07-05 15:31] kawaljee commented on #100
Hi, @michhyun1 , other people are also having the same issue. Please help us to resolve it.

[2021-07-06 09:05] rohit0337 opened #101 "Video recording stop affter 30 min"
Hello,
we implenmented this in our solution but we are not able to record more than 30 min

[2021-07-07 16:52] michhyun1 commented on #100
@kawaljee Can you please confirm the IAM User's policy to ensure that it has the permissions to update the cloud9 environment tag? This seems to be permissions related.

[2021-07-07 19:51] michhyun1 commented on #101
@rohit0337 thanks for trying out the recording demo - can you please verify that you aren't falling into one of these categories:  https://answers.chime.aws/questions/606/how-does-chime-decide-when-to-end-a-meeting.html#:~:text=Chime%20checks%20every%205%20minutes,state%20changes%2C%20for%2030%20minutes.

[2021-07-09 06:04] rohit0337 commented on #101
No we are not falling into this categories

On Thu, Jul 8, 2021 at 1:21 AM Michael Hyun ***@***.***>
wrote:

[2021-07-13 22:37] michhyun1 commented on #101
@rohit0337 thanks for clarifying that for us. Is the issue reproducible or has it only happened once? Did other participants also get kicked out of the meeting at the same time that the recording stopped? Can you please give us more information and context? Thanks.

[2021-07-15 18:31] jing-chen1 commented on #73
Closing the issue for now. Feel free to reopen it if you still have problems.

[2021-07-15 18:31] #73 closed

[2021-07-15 18:38] jing-chen1 commented on #90
Closing the issue for now. Feel free to reopen it if you still have problems.

[2021-07-15 18:38] #90 closed

[2021-07-15 19:04] jing-chen1 commented on #96
Closing the issue. Feel free to reopen it if you still have problems.

[2021-07-15 19:04] #96 closed

[2021-07-15 19:12] jing-chen1 commented on #99
Closing the issue. Feel free to reopen if you still have problems.

[2021-07-15 19:12] #99 closed

[2021-07-15 21:31] michhyun1 commented on #100
Can you also confirm the aws credentials in `less ~/.aws/credentials` and make sure that the default aws account is the IAM User/Role that has the Cloud9 Admin access policy?

[2021-07-16 05:49] trrystdev commented on #44
@Aeramor I want to change the ECS task to run on Fargate, but don't know enough about Fargate how to do it as yet. Can you please share what you had done earlier?

[2021-07-20 17:52] tenge-amzn commented on #72
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:53] tenge-amzn commented on #78
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:53] tenge-amzn commented on #40
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:53] tenge-amzn commented on #83
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:53] tenge-amzn commented on #84
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:53] tenge-amzn commented on #85
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:54] tenge-amzn commented on #91
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:54] tenge-amzn commented on #92
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:54] tenge-amzn commented on #93
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:54] tenge-amzn commented on #94
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:54] tenge-amzn commented on #95
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:54] tenge-amzn commented on #97
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:54] tenge-amzn commented on #98
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:55] tenge-amzn commented on #100
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-20 17:55] tenge-amzn commented on #101
Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity/capture-amazo

[2021-07-21 04:19] raveendar commented on #94
Thanks for this feature

[2021-07-26 08:13] #40 closed

[2021-07-28 20:17] rnqayush opened #103 "How can i distinguish a specific recording between those recordings which are being triggered at same time"
I have a react native app for video meeting and implemented chime-sdk-recording in it.
I am able to start recording and after stopping, It is getting stored in s3 bucket.
Also through node.js i am able to get the recording url and able to download it.

My Issue:

I am having two or more recordings started at same time through my app which is getting stored in s3. i want to distinguish a specific r

[2021-07-28 20:53] jing-chen1 commented on #103
Hi @rnqayush, Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

You can use the attendee ID to distinguish a specific recording, as the name format of the

[2021-07-30 16:01] rnqayush commented on #103
@jing-chen1 thanks for your response, Actually i am using old service and recordings are being saved s3 in the format of yyyy-MM-dd-HH-mm-ss.mp4. Kindly suggest some idea through old service to distinguish a specific recording

[2021-07-30 16:24] rnqayush commented on #103
![skype](https://user-images.githubusercontent.com/74084740/127682809-8f0ef61d-b736-4617-ad45-6930821fac21.png)

[2021-07-30 18:59] anuranduttaroy commented on #103
Hey @rnqayush, here is the line where we are deciding the file name [record.js#L76](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/recording/record.js#L76). If you want, you can use a more friendly name here.

Let me know if this helps.

[2021-07-30 19:15] rnqayush commented on #103
@anuranduttaroy thanks but my issue is if two meetings with meetingId 'A' and  'B' got started at same time and date then how will i distinguish between both the recordings in s3 bucket which one is meeting 'A' without playing recording video

[2021-07-30 19:24] rnqayush commented on #103
@anuranduttaroy  can we  pass meeting url https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/f3f65d94a59067c4454d6d73cb2e671c68d44a47/recording/record.js#L7 while deciding file name .

[2021-08-02 03:29] kalebupatan7 commented on #78
Hi Aws-Samples/Amazon-Chime-Sdk-Recording-Demo,

Can you tell me how to integrate AWS SDK from an iOS app?
Currently I'm using amazon-chime-sdk-ios framework, but I can't see the
media capture pipelines API. Please let me know as soon as possible, I'm
stuck in the middle.

Thank you,
Patan Kalebu

On Tue, Jul 20, 2021 at 11:23 PM Teng Ge ***@***.***> wrote:

[2021-08-02 05:22] tenge-amzn commented on #78
Hi @kalebupatan7
media capture pipelines API are not part of Chime-sdk-ios, it is part of AWS SDK. I don't recommend to integrate it from the client side because in that cause you will provide AWS credential to your client.

It should be the similar way on you calling create-meeting - initiate from a server side, such as lambda.

[2021-08-02 05:24] tenge-amzn commented on #103
Hi @rnqayush

Chime SDK team has launched a new service to provide meeting capture capabilities with original video resolution and frame rate. You will not need to provision your own container infrastructure. Instead, just call the API from AWS SDK and provide a prepared S3 bucket to receive the artifacts.

To know more, please check out the blog:
https://aws.amazon.com/blogs/business-productivity

[2021-08-05 05:59] rnqayush commented on #103
@jing-chen1  i am using old service and recordings are being saved s3 in the format of yyyy-MM-dd-HH-mm-ss.mp4. Kindly suggest some idea through old service to distinguish a specific recording

[2021-08-17 08:26] rnqayush opened #105 "how can i get a playable url in s3 for my recordings instead of downloadable."
Hi team,
1- I have created a react native meeting app with the help of chime-sdk-js
2- I am using recording service of aws to record my meeting sessions.
3- Recorded videos are being successfully saved to my s3 bucket and clicking on  object url it is downloading the recorded video to my system.

My Problem:
1- I want to show these recorded videos on my app so that users can play these videos . ho

[2021-08-19 18:10] anuranduttaroy commented on #103
Hey @rnqayush, as mentioned [here](https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issues/103#issuecomment-890091803), you can append the meeting-id or some other unique identifier that you choose to in the file name to distinguish the recordings stored in s3.

Adding the URL or part of it to the file name as you mentioned [here](https://github.com/aws-samples/amazon-chime-sdk-recor

[2021-08-25 06:18] #84 closed

[2021-08-25 06:20] ldai1 commented on #105
related ticket: https://github.com/aws-samples/amazon-chime-sdk-recording-demo/issues/92

[2021-08-25 06:20] #92 closed

[2021-08-25 06:20] #93 closed

[2021-09-03 21:08] anuranduttaroy commented on #103
Hey @rnqayush feel free to re-open this issue if you still have questions.

[2021-09-03 21:08] #103 closed

[2021-09-09 21:59] anuranduttaroy opened #106 "Test Issue 123"
Test issue  - comment

[2021-09-10 23:51] #106 closed

[2021-09-29 11:05] MohammedAbadi1991 commented on #84
Thanks a lot for your response, we will test it.

[2021-09-29 11:21] MohammedAbadi1991 opened #107 "Audio Issues in some of the downloaded mp4 files"
We have noticed that some of the downloaded mp4 files have audio issues.
Although attendees did not face any audio issues during the meeting when you download the generated mp4 file from the S3 bucket you will notice audio issues and you will not be able to hear the audio.

[2021-10-12 15:59] achris commented on #107
Hi,

The Chime SDK team launched a new service to provide meeting capture capabilities. You will not need to provision your own container infrastructure, you just need to call an API and provide an S3 bucket to receive the artifacts.

For more info, see: https://aws.amazon.com/blogs/business-productivity/capture-amazon-chime-sdk-meetings-using-media-capture-pipelines/

[2021-10-26 17:29] albrich-me opened #108 "Adjusting Audio / Video Sync"
I suggest adding a note in the FAQ section of the of Readme.md:  "Lip-sync can be affected by the underlying instance type.  You can adjust the audio delay relative to the video by modifying the following line in amazon-chime-sdk-recording-demo/recording/record.js:   '-filter_complex', 'adelay=delays=350|350, aresample=async=1:first_pts=0',.  Change the adelay=delay=350|350 to lower numbers (both

[2021-11-01 21:26] #108 closed

[2021-11-12 00:54] pbrain19 opened #110 "sam local testing ignores taskDefinition"
Trying to test this locally and I noticed that that I keep getting this error

[code]

This seems to be resulting of the start-api command completely ignoring the taskDefinition part of the template. I tried doing build as well before then

$ sam build  --template-file templates/RecordingDemoCloudformationTemplate.yaml  --parameter-overrides ECRDockerImageArn=70xxxxxx6936537074.dkr.ecr.us-west-2.a

[2021-11-17 06:43] ajselvar-work commented on #110
Not able to reproduce the error. Were you following these steps node ./deploy.js -b recording-local -s recording-local -i 319849630214.dkr.ecr.us-east-1.amazonaws.com/recording-local -r us-east-1

[2021-11-29 19:14] ajselvar-work commented on #110
Closing due to no-activity. Please feel free to re-open if you need further help

[2021-12-06 15:42] achris commented on #107
Closing as we did not get any response

[2021-12-06 15:44] MohammedAbadi1991 commented on #107
@albrich-me  @achris   Hey Guys , we are using EC2 instance of type t2.xlarge

[2021-12-06 17:02] achris commented on #107
Can you try m5.xlarge as as @albrich-me suggested?

Have you made any customization to the parameters in record.js such as resolution, bitrate, etc?

[2021-12-06 17:03] achris commented on #107
@albrich-me The default instance type is t3.xlarge, should we update it to m5.xlarge?  https://github.com/aws-samples/amazon-chime-sdk-recording-demo/blob/master/templates/RecordingDemoCloudformationTemplate.yaml#L49

[2021-12-06 17:06] MohammedAbadi1991 commented on #107
@achris  @albrich-me  We did not do any customization on the parameters under record.js.
I confirm that when we used the instance of type M5.xlarge, we did not face any issue.
Thank you!

[2021-12-06 18:47] albrich-me commented on #107
@achris It would be interesting to look into porting the recording demo to the t4g.xlarge.  If that can be made to work reliably it could solve the problem at a lower cost than even the t3.xlarge.  The processor is ARM based but I think everything needed for the recording demo (Firefox, FFMEPG, Node) has an ARM version so it looks like it could work.

[2021-12-07 08:14] cavinpabua commented on #55
hi @dsuraj72
I am having the same issue. Even just using the Demo template provided.
Did you ever solved on your side?

[2021-12-16 16:30] #110 closed

[2022-01-27 12:02] VilasNshinde commented on #59
Hi sir,
  I got issue api postman response in amazon-chime
{
    "message": "No method found matching route recording for http method POST."
}
after enter AccessKey and SecretKey.

[2022-04-08 07:38] rohittb opened #113 "Recording not starting"
Hello

 we have implemented recording solution in our solution. its working fine till 31st march . while we checked it on 1st april recording is not starting. As we check the api its return task id but recorder not able to join the meeting.

[2022-04-12 20:10] yuqil-amzn commented on #113
Hi,
Could you please share more info to us? For example, the meeting id and media pipeline id. Also, could you please check if the s3 bucket policy is setup correctly?

Thanks

[2022-05-02 20:21] yuqil-amzn commented on #113
Hi,
Could you please confirm the sdk version you use? There is a new version release on 30th. This might be related to your issue.

Thanks

[2022-05-05 16:58] michhyun1 commented on #113
@rohittb I see no response, will close this issue. Please contact us again if you have more questions.

[2022-05-05 16:58] #113 closed